* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height :100vh ;
    width: 100%;
    background: linear-gradient(to right , rgb(236, 236, 48), rgb(241, 212, 212))
}
html {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



header {
    width: 100%;
    height: 90px;
    background-color :rgb(250, 167, 167);
    display: flex;
    align-items: center;
    padding: 20px;

}


.logo {

    width: 100px;
    height: auto;

}

.logo img {
    width: 100%;
    height: 100%;
    color: white;
}

.title {

    margin-left: 200px;

}

span.txt {

    color:black;
    font-size: 40px;
    font-weight: 700;

}

