<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{done}}
    {{msg}}
    <form action="{%url 'register'%}" method="post">
        {%csrf_token%}
        <input type="hidden" name="id" value="{{st.id}}">
        <input type="text" name="name" placeholder="Enter name" value="{{st.name}}">
        <input type="text" name="email" placeholder="Enter email" value="{{st.email}}">
        <input type="text" name="phone" placeholder="Enter phone" value="{{st.phone}}">
        <input type="text" name="age" placeholder="Enter age" value="{{st.age}}">
        <input type="submit">
        <input type="reset">
        <a href="{%url 'display'%}">Display data</a>
    </form>


</body>

</html>